{% extends "layouts/base.html" %}
{% block title %}Login{% endblock %}

{% block head %}
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
{% endblock %}

{% block content %}
  
  <div id="signinButton">
    <span class="g-signin"
      data-scope="openid email"
      data-clientid="912423807138-ve12ee3scoe9ep2uirl7ms928v3e75jo.apps.googleusercontent.com"
      data-redirecturi="postmessage"
      data-accesstype="offline"
      data-cookiepolicy="single_host_origin"
      data-callback="signInCallback"
      data-approvalprompt="force">
    </span>
  </div>

</div>

{% endblock %}