<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Item Catalog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if session.get('username') %}
            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
          {% else %}
            <a class="nav-link" href="{{ url_for('auth.showLogin') }}">Login</a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('category.index') }}">categories</a>
        </li>
      </ul>
    </div>    
  </div>
</nav>