<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-between mb-2">
  <div class="container justify-content-between">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Docket</a>
      <ul class="navbar-nav">
        {% if session.get('username') %}    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ session['picture'] }}" width="30" height="30" />
            {{ session['username'] }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('list.index') }}">Lists</a>
            <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('auth.showLogin') }}">Login</a>
        </li>
        {% endif %}
      </ul>
  </div>
</nav>
