{% extends "layouts/base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

  <nav>
    <ol class="breadcrumb bg-white mx-0 px-0">
      <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
      <li class="breadcrumb-item active">Lists</li>
    </ol>
  </nav>

  <h2>Lists</h2>

  <div class="list-group mb-5">
    {% for list in lists %}
      <a href="{{ url_for('list.show' ,list_id=list.id) }}" class="list-group-item list-group-item-action">{{ list.name }}</a>
    {% else %}
      <li class="list-group-item">No list created yet.</li>
    {% endfor %}
  </div>
  
  {% include 'list/create.html' %}

{% endblock %}