{% extends "layouts/base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

  <nav>
    <ol class="breadcrumb bg-white mx-0 px-0">
      <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>
      <li class="breadcrumb-item active"><a href="{{ url_for('list.index') }}">Lists</a></li>
      <li class="breadcrumb-item active">{{ list.name }}</li>
    </ol>
  </nav>

  <div class="mb-3">
    <h2 class="d-inline">{{ list.name }}</h2>
    {% if session.get('user_id') != None %}
    <div class="float-right">
      {% include 'list/edit.html' %}
      {% include 'list/delete.html' %}      
    </div>
    {% endif %}
  </div>

  <div class="list-group mb-5">
    {% for item in list.items %}
      <a href="{{ url_for('item.show' ,list_id=list.id, item_id=item.id ) }}" class="list-group-item list-group-item-action">{{ item.name }}</a>
    {% else %}
      <li class="list-group-item">No items added yet.</li>
    {% endfor %}
  </div>
  
  {% include 'item/create.html' %}

{% endblock %}